.left
.item-title {
  margin: 5px 5px 3px 5px;
  font-weight: bold;
  line-height: 1.25;
}


.right
.item-title {
  margin: 3px 5px 3px 5px;
}


.left
.miscellaneous
.item-title {
  font-weight: normal;
  margin: 3px 5px;
}

.timePeriod {
  margin-left: 3px;
}

.description {
  margin-left: 20px;
  text-indent: -12px;
}