.header {
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(79, 121, 206);
}

.header-text {
  width: 70%;
}

.header-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.header-summary {
  text-align: justify;
  padding-right: 10px;
  margin-top: 10px;
}

img {
  width: 73%;
  height: 85%;
  border-radius: 100%;
  margin-top: 13px;
}

h1{
  margin: 0 0 10px 0;
}

p{
  margin: inherit;
}


a {
 margin-left: 4px;;
}