.header {
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(79, 121, 206);
}

.header-text {
  width: 70%;
}

.header-summary {
  text-align: justify;
  padding-right: 10px;
  margin-top: 10px;
}

.header-img-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 73%;
  height: 85%;
  border-radius: 100%;
  margin: 13px 0 0 30px;
}

h1{
  margin: 0 0 10px 0;
}

p{
  margin: inherit;
}


a {
 margin-left: 4px;;
}