.header {
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px 40px;
  background-color:rgb(45, 141, 170);
}

.header-text {
  width: 70%;
}

.header-title {
  font-size: large;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.header-summary {
  text-align: justify;
  margin: 5px 0;
}

.header-img-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 73%;
  height: 85%;
  border-radius: 100%;
  margin: 13px 0 0 30px;
}

h1{
  margin: 0 0 10px 0;
}

p{
  margin: inherit;
}


.headerLink {
 margin-left: 4px;
 color: rgb(242, 242, 242);
 text-decoration: none;
}