.A4 {
  background: white;
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 21cm;
  height: 29.7cm;
  border: 1px solid blue;
}

.page-block {
}

.left{
  border: 1px solid red;
  width: 65%;
  padding: 10px;
}

.right{
  border: 1px solid green;
  width: 35%;
  background-color: gray;
  padding: 10px;
}